#WeatherPage {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
.mainContainer {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* Global — body/html scroll band karo */
html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
